<br>
<br>
<h1>{{showComment}}</h1>
<div ng-show="showComment">

  <form class="form-horizontal" ng-submit="vm.createPost()">
    <fieldset>
      <legend>New Post</legend>
      <div class="form-group">
        <label for="inputTitle" class="col-lg-2 control-label">Title</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputTitle" placeholder="Title" ng-model="vm.newPost.title">
        </div>
      </div>
      <div class="form-group">
        <label for="inputAuthor" class="col-lg-2 control-label">Author</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputAuthor" placeholder="Author" ng-model="vm.newPost.author">
        </div>
      </div>
      <div class="form-group">
        <label for="description" class="col-lg-2 control-label">Description</label>
        <div class="col-lg-10">
          <textarea class="form-control" rows="3" id="description" ng-model="vm.newPost.description"></textarea>
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="reset" class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<h1>{{showComment}}</h1>
<div ng-repeat="post in vm.posts track by $index">
  <div class="panel panel-default">
    <div class="panel-heading">{{post.title}} - {{post.author}} <span class="pull-right"><button ng-click="vm.upVote(post._id)"></button> Votes: {{post.votes}}</span></div>
    <div class="panel-body">
      <div class="col-md-3">
        <img ng-src="{{post.image}}" alt="place">
      </div>
      <div class="col-md-9">
        <p>{{post.description}}</p>
        <p>{{post.date}}</p>
      </div>
      <div ng-repeat="comment in post.comments">
        <p>{{comment.text}}</p>
      </div>
      <div>
        <form ng-submit="vm.addComment(post._id)">
          <input type="text" class="form-control" placeholder="Commenter" ng-model="vm.newComment[post._id].commenter">
          <input type="text" class="form-control" placeholder="Text" ng-model="vm.newComment[post._id].text">
          <input type="submit" class="form-control">
        </form>
      </div>
    </div>
  </div>
</div>
