<br>
<br>
<br>
<div ng-show="showPost" class="commentBox">

  <form class="form-horizontal" ng-submit="vm.createPost()">
    <fieldset>
      <legend>New Post</legend>
      <div class="form-group">
        <label for="inputTitle" class="col-lg-2 control-label">Title</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputTitle" placeholder="Title" ng-model="vm.newPost.title">
        </div>
      </div>
      <div class="form-group">
        <label for="inputAuthor" class="col-lg-2 control-label">Author</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputAuthor" placeholder="Author" ng-model="vm.newPost.author">
        </div>
      </div>
      <div class="form-group">
        <label for="description" class="col-lg-2 control-label">Description</label>
        <div class="col-lg-10">
          <textarea class="form-control" rows="3" id="description" ng-model="vm.newPost.description"></textarea>
        </div>

      </div>

      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="reset" class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<div ng-repeat="post in vm.posts | filter:query | orderBy : '-votes'">
  <div class="panel panel-default">
    <div class="panel-heading">{{post.title}} - {{post.author}} <span class="pull-right"><button ng-click="vm.upVote(post._id)">Upvote</button> <button ng-click="vm.downVote(post._id)">Downvote</button> Votes: <span ng-class="{'color-red': post.votes < 0, 'color-green': post.votes > 0}">{{post.votes}}</span></span></div>

    <div class="panel-body">

      <div class="col-md-3">
        <img ng-src="{{post.image}}" alt="place">
      </div>
      <div class="col-md-9">
        <p>{{post.description}}</p>
        <p>{{post.date | date : format : timezone}}</p>
      </div>
      <div ng-repeat="comment in post.comments" >
        <p>{{comment.text}}</p>
      </div>
      <div>
       <button ng-click="toggleComment(post._id)"> Add Comment</button>
        <form ng-submit="vm.addComment(post._id)" ng-show="showComment[post._id] === true" ng-init="showComment[post._id] = false" class="commentBox">
          <input type="text" class="form-control" placeholder="Commenter" ng-model="vm.newComment[post._id].commenter">
          <input type="text" class="form-control" placeholder="Text" ng-model="vm.newComment[post._id].text">
          <input type="submit" class="form-control">
        </form>
      </div>
    </div>
  </div>
</div>
